[Unit]
Description=Checker
After=network.target

[Service]
User=akaiser
ExecStart=/bin/bash -c 'cd /home/akaiser/dev/checker; source ~/.virtualenvs/checker/bin/activate; python -u checker.py'
Restart=always

[Install]
WantedBy=multi-user.target
