[Unit]
Description=Checker
After=network.target

[Service]
Type=simple
User=akaiser
WorkingDirectory=/home/akaiser
ExecStart=python /home/akaiser/dev/checker/checker.py
Restart=on-failure

[Install]
WantedBy=multi-user.target